* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #223446;
}

.main {
	font-family: 'Montserrat', sans-serif;
	align-items: center;
	text-align: center;
	background-color: #f3f7f3;
	padding-top: 10vh;
	width: 60%;
	min-height: 90vh;
	border-radius: 15px;
	margin: 5vh auto;
}

.ticketMain {
	padding-top: 10vh;
}

@media (max-width: 1000px) {
	.main {
		width: 80%;
	}
}

ul {
	list-style: none;
}

#welcome {
	margin: 20px auto;
}

h1 {
	font-size: 3.1em;
	font-weight: 400;
}

h2 {
	font-weight: 400;
}

.btn {
	cursor: pointer;
	padding: 10px 15px;
	font-size: 1.1em;
	border: 1px solid #548784;
	border-radius: 5px;
	background-color: #548784;
	color: #fff;
	margin: 20px;
}

.btn:hover {
	background-color: #9fccb7;
	border-color: #223446;
	color: #223446;
	transition: background-color 0.05s;
}

.btn:active {
	background-color: #223446;
	border-color: #223446;
	color: #f3f7f3;
	transition: background-color 0.05s;
}


/* Form CSS */

#ticketForm {
	margin: 20px auto;
	display: none;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}

#passengers {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.row label {
	width: 200px;
}

.row .inputField {
	width: 300px;
}

.pRow {
	margin: 5px;
	padding-left: 25px;
	display: flex;
	flex-direction: row;
}

.pRow label {
	width: 175px;
	text-align: right;
	padding-right: 10px;
}

.pRow .inputField {
	width: 250px;
}

.passengerDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.inputField {
	padding: 2px 5px;
}

.inputField option {
	font-size: 1.2em;
}


.passengerNumber {
	align-self: left;
	margin-top: 15px;
}

#submit {
	display: none;
	margin: 20px auto;
}

#ticket {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	background-color: #fff;
	border: 1px solid #aaa;
	width: 800px;
	max-width: 80%;
	margin: 20px auto;
	align-self: center;
	padding: 15px;
	text-align: left;
}

.another {
	cursor: pointer;
	padding: 8px 12px;
	font-size: 1em;
	border: 1px solid #007096;
	border-radius: 5px;
	background-color: #0da1d6;
	color: #fff;
	margin: 20px;
}

.another:hover {
	background-color: #a6e8ff;
	border-color: #007096;
	color: #223446;
	transition: background-color 0.05s;
}

.another:active {
	background-color: #007096;
	border-color: #007096;
	color: #f3f7f3;
	transition: background-color 0.05s;
}

.errorMsg {
	padding-top: 10vh;
	color: #d91200;
	font-size: 1.4em;
}

.back {
	padding: 5px 10px;
	font-size: 1em;
}
